<a href="https://colab.research.google.com/github/irfanpnjl/Algoritma-dan-Pemrograman/blob/main/Irfan_Jobsheet_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1-Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

# Praktikum 2-Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

# Praktikum 3-Operasi pada Dictionary

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

# Praktikum 4-Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

# Praktikum 5-Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Bahasa Inggris', 'Algoritma'}
Mata kuliah Mhs2: {'Basis Data', 'Matematika', 'Algoritma'}
mata kuliah yang sama: {'Matematika', 'Algoritma'}

# Praktikum 6-Studi Kasus Dictionary: daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90,
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

# Penugasan 1

In [1]:
data = ("Irfan", 18, "Teknologi Rekayasa Komputer")
print("Nama:", data[0])
print("Umur:", data[1])
print("Prodi:", data[2])

Nama: Irfan
Umur: 18
Prodi: Teknologi Rekayasa Komputer

# Penugasan 2

In [16]:
tuple = (1, 2, 3)
tuple[0]= 4
print(tuple)

TypeError: 'tuple' object does not support item assignment

# Penugasan 3

In [8]:
buku = {"Judul": "algoritma", "Penulis": "Munir", "Tahun": 2021}

print("Judul: ", buku["Judul"])
print("Penulis: ", buku["Penulis"])
print("Tahun: ", buku["Tahun"])

Judul:  algoritma
Penulis:  Munir
Tahun:  2021

# Penugasan 4

In [10]:
dosen = {
    "NIP": "12345",
    "Nama": "budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'budi', 'Prodi': 'Teknik Komputer'}

# Penugasan 5

In [11]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {'Algoritma', 'Matematika', 'Basis Data', 'Bahasa Inggris'}
Intersection: {'Algoritma', 'Matematika'}
Difference: {'Bahasa Inggris'}

# Penugasan 6

In [12]:
nilai_mahasiswa = {"Andi": 85, "Budi": 90, "Cici": 78}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

# Penugasan 7

In [15]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

print("Union:", klub_A | klub_B)
print("Intersection:", klub_A & klub_B)
print("Difference:", klub_A - klub_B)

Union: {'Deni', 'Andi', 'Cici', 'Budi', 'Eka'}
Intersection: {'Cici'}
Difference: {'Budi', 'Andi'}