<a href="https://colab.research.google.com/github/irfanpnjl/Algoritma-dan-Pemrograman/blob/main/Irfan_Jobsheet_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 1-Perulangan For Dengan Range

In [ ]:
for i in range (1,5):
  print(i)

1
2
3
4

# Praktikum 2-Perulangan While

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -=1

Masukkan angka: 5
5
4
3
2
1

# Praktikum 3-nested Loop

In [ ]:
for i in range (1,6):
  for j in range (i):
    print ("*", end="")
  print()

*
**
***
****
*****

#Praktikum 4-break and Continue

# Break

In [ ]:
for i in range (1,10):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

# Continue

In [ ]:
for i in range (1,5):
  if i % 2 == 1:
    continue
  print(i)

2
4

# Praktikum 5-For pada Dictionary

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
 print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

# Praktikum 6-For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

# Praktikum 7-Studi kasus: Program Kasir Multi-Item

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga =float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

# Penugasan 1

In [ ]:
for i in range (3, 30, 3):
  print(i)

3
6
9
12
15
18
21
24
27

# Penugasan 2

In [ ]:
angka = int(input("Masukkan angka: "))
angka_asli = angka
faktorial = 1

while angka > 0:
  faktorial *= angka
  angka -= 1

print(f"Faktorial dari {angka_asli} adalah {faktorial}")

Masukkan angka: 5
Faktorial dari 5 adalah 120

# Penugasan 3

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end= "")
  print()

*****
****
***
**
*

# Penugasan 4

In [ ]:
bilangan = int(input("Masukkan sebuah bilangan bulat: "))
adalah_prima = True
if bilangan <= 1:
        adalah_prima = False
else:
  for i in range(2, bilangan):
    if (bilangan % i) == 0:
      adalah_prima = False
      print(f"   -> Ditemukan faktor: {i}. Loop dihentikan.")
      break
if adalah_prima:
  print(f"Hasil: {bilangan} adalah bilangan prima.")
else:
  print(f"Hasil: {bilangan} bukan bilangan prima.")

Masukkan sebuah bilangan bulat: 9
   -> Ditemukan faktor: 3. Loop dihentikan.
Hasil: 9 bukan bilangan prima.

# Penugasan 5

In [ ]:
for i in range (1,21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

# Penugasan 6

In [ ]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
 print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

# Penugasan 7

In [ ]:
daftar_barang = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar_barang, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

# Penugasan 8

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga =float(input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

if total >= 200000:
  diskon = total * 0.1
  total -= diskon
  print("\nSelamat! Anda mendapatkan diskon sebesar 10%")
else:
  print("\nMaaf, Anda tidak mendapatkan diskon.")

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50000
Masukkan jumlah Buku: 4
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 10000
Masukkan jumlah Pulpen: 5
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

Selamat! Anda mendapatkan diskon sebesar 10%

===== Struk Belanja =====
Total Belanja : Rp 225000.0