<a href="https://colab.research.google.com/github/irfanpnjl/Algoritma-dan-Pemrograman/blob/main/Irfan_Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01. Mengenali Variabel dan Tipe Data

In [ ]:
umur = 20
print ("Umur:", umur, "→", type(umur))

tinggi = 170.5
print ("Tinggi:", tinggi, "→", type (tinggi))

nama = "Irfan"
print ("Nama:", nama, "→", type (nama))

is_mahasiswa = True
print ("Mahasiswa:", is_mahasiswa, "→", type (is_mahasiswa))

nilai = [80, 85, 90]
print ("Nilai:", nilai, "→", type (nilai))

koordinat = (10, 20)
print ("Koordinat:", koordinat, "→", type (koordinat))

mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print ("Data_Mahasiswa:", mahasiswa, "→", type (mahasiswa))

hobi = {"membaca", "olahraga", "musik"}
print ("Hobi:", hobi, "→", type (hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Irfan → <class 'str'>
Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data_Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'olahraga', 'membaca', 'musik'} → <class 'set'>

# Praktikum 02. Input dan Output Dasar

In [ ]:
nama = input("Masukkan nama anda: ")

umur = input("Masukkan umur anda: ")

tinggi = input("Masukkan tinggi badan anda: ")

#output standar
print("Halo", nama, "umur anda:", umur, "tahun, tinggi:", tinggi, "cm")

#output dengan format ()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

#output dengan f-string
print(f"Halo {nama}, umur Anda {umur}tahun, tinggi {tinggi} cm")

Masukkan nama anda: Irfan
Masukkan umur anda: 18
Masukkan tinggi badan anda: 173
Halo Irfan umur anda: 18 tahun, tinggi: 173 cm
Halo Irfan, umur Anda 18 tahun, tinggi 173 cm
Halo Irfan, umur Anda 18tahun, tinggi 173 cm

# Praktikum 03. Operator Aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b=", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b= 50625

# Praktikum 04. Operasi Relasional

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

# Praktikum 05. Operasi Logika dengan Studi Kasus Nyata

In [ ]:
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

nilai = int (input("Masukkan nilai ujian: "))
hadir = int (input("Masukkan nilai kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 100
Masukkan nilai kehadiran: 16
Status: LULUS

# Praktikum 06. Program Kasir Sederhana

In [ ]:
barang = input ("Masukkan nama barang: ")
harga = float (input("Masukkan harga barang: "))
jumlah = int (input("Masukkan jumlah barang: "))

total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : {bayar}")

Masukkan nama barang: Sepatu
Masukkan harga barang: 550000
Masukkan jumlah barang: 2

===== Struk Belanja =====
Barang : Sepatu
Jumlah : 2
Total : 1100000.0
Diskon : 20.0%
Bayar : 880000.0

# Penugasan: Identias Mahasiswa

In [ ]:
nama = "Irfan"
umur = 18
tinggi = 173.0
status_aktif = True

print(f"Nama: {nama}")
print(f"Umur: {umur} tahun")
print(f"Tinggi: {tinggi} cm")
print(f"Status Aktif: {status_aktif}")

Nama: Irfan
Umur: 18 tahun
Tinggi: 173.0 cm
Status Aktif: True

# Penugasan: Operasi Aritmatika

In [ ]:
pertama =int(input("masukkan bil bulat pertama: "))
kedua = int(input("masukkan bil bulat kedua: "))



print("hasil penjumlahan: ", pertama + kedua)
print("hasil pengurangan: ", pertama - kedua)
print("hasil perkalian: ", pertama * kedua)
print("hasil pembagian: ", pertama / kedua)
print("sisa bagi: ", pertama % kedua)
print("hasil perpangkatan: ", pertama ** kedua)

masukkan bil bulat pertama: 9
masukkan bil bulat kedua: 2
hasil penjumlahan:  11
hasil pengurangan:  7
hasil perkalian:  18
hasil pembagian:  4.5
sisa bagi:  1
hasil perpangkatan:  81

# Penugasan: Konversi Nilai

In [ ]:
bil_float = float(input("masukkan angka desimal: "))

bil_int = int(bil_float)
bil_str = str(bil_float)
bil_round = round(bil_float)

print("integer: ", bil_int)
print("string: ", bil_str)
print("round ", bil_round)

masukkan angka desimal: 7.6
integer:  7
string:  7.6
round  8

# Penugasan: Operator Relasional

In [9]:
bil1 = input("bilangan pertama: ")
bil2 = input("bilangan kedua: ")

print("bilangan pertama == bilangan kedua:",  bil1 == bil2)
print("bilangan pertama != bilangan kedua:",  bil1 != bil2)
print("bilangan pertama < bilangan kedua:", bil1 > bil2)
print("bilangan pertama <= bilangan kedua:",  bil1 <= bil2)
print("bilangan pertama >= bilangan kedua:",  bil1 >= bil2)

bilangan pertama: 5
bilangan kedua: 9
bilangan pertama == bilangan kedua: False
bilangan pertama != bilangan kedua: True
bilangan pertama < bilangan kedua: False
bilangan pertama <= bilangan kedua: True
bilangan pertama >= bilangan kedua: False